<%= form_for modeling, :html => {:multpart => true} do |f| %>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
    <%= f.file_field :image %>
    <%= f.submit %>
<% end %>